Assignment
1.Calculate the sum, difference, product, and quotient of two numbers.
Consider two number 10 and 5 using these two number we are going to arthematic operation which are given above.

In [1]:
#ex
a = 10 
b = 5
a+b

15

In [2]:
a = 10 
b = 5
a-b

5

In [3]:
a = 10 
b = 5
a*b

50

In [4]:
a = 10 
b = 5
a/b

2.0

2.Perform various assignment operations on a variable.
In assignment operator first we can assign value to operator then after getting value we can reassign a values and store.

In [5]:
#ex;
x = 30
x

30

In [6]:
x + 5

35

In [8]:
x += 5
x

40

In [9]:
m = 90
m *= 90
m

8100

In [11]:
h = 30
h /= 10
h

In [ ]:
h = 30
h /= 10
h

3.Compare two numbers and print the results.
It is used to compare two values and returns Boolean values
We have so many comparison operates like = ,<,>,<=,>= etc...

In [12]:
2 == 2

True

In [14]:
3!=32 != 4

True

In [14]:
3!=32 != 4

True

In [15]:
4 < 1

False

In [16]:
4 <=6

True

5.Check the identity of variables.
Identity operator which compare the memory location of two objects.

In [17]:
#ex
n = 33
m = 44
n is m

False

In [18]:
l = 99
p = l
p is l

True

6.Perform bitwise operations on any two integers.
It’s operation at bit level.

In [19]:
12 & 44

12

In [20]:
44 & 99

32

In [21]:
9 & 3

1

7.Use unary operators to change the sign of a number.
	A unary operation is an operation with one operand.
It’s include +,-

In [22]:
#ex
print(+6)

6

In [23]:
print(-8.9)

-8.9